<div class="wrapper">
  <app-sidebar></app-sidebar>

  <!-- Page Content  -->
  <div id="content" style="height:100vh">

    <app-header></app-header>

    <div class="py32" style="height: 90vh">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12 p-0">
            <div class="text-center mb-0 p-3 jumbotron" style="position:sticky ;height: 10vh;position:-webkit-sticky">
              <h3>{{getSelectedModule()}}</h3>
            </div>
          </div>
          <div class="col-12 p-0" style="height: 80vh; overflow: scroll;">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
