
<div class="container-fluid ">
  <div class="row">
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 col-1"></div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10 col-10 align-items-centen mx-auto my-4">
      <div class="card home-step-card px-5 pt-4 pb-1">
        <img src="" alt="">
        <div class="card-body">
          <h5 class="card-title home-step-title">Finish your store setup...</h5>
          <p class="card-text home-step-p mb-3">
            Sellers who add more than 25 products are likely to get more orders.
Add all your products to your e-commerce store now.
          </p>
          <div class="wrappers">
            <ul class="StepProgress">
              <div class="row">
                <div class="col-12 home-step-div1 mb-3 p-4">
                  <li class="StepProgress-item is-done"><strong class="home-step-strong">Your e-commerce store is ready!</strong> <br> <p style="margin-bottom: 5px;" class="home-step-p1">Congratulations! Your e-commerce store is now live.</p><a href="" style="text-decoration: underline;">visit store</a> </li>
                </div>
                <div class="col-12 home-step-div2 mb-3 p-4">
                  <li class="StepProgress-item current"><strong class="home-step-strong">Add your first product</strong> <br> <p style="margin-bottom: 5px;" class="home-step-p1">start adding products to your online store now!</p> <button class="btn btn-primary">Add Products</button></li>
                </div>
                <div class="col-12 home-step-div3 p-4">
                  <li class="StepProgress-item"><p class="home-step-p2">Set up payments</p></li>
                </div>
              </div>
            </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-1 col-1">

    </div>
  </div>
</div>
