<div class="conatiner-fluid" style="width: 100vh;">
  <form action="">
  <div class="row">
    <div class="col-12 mb-4">
      <div class="card">
        <img src="" alt="">
        <div class="card-body supportcard1">
          <h5 class="card-title">Customer support</h5>
          <div class="form-row pt-3">
            <div class="form-group col-md-6">
              <label for="inputEmail4">Mobile number</label>
              <input type="tel" class="form-control" id="inputEmail4" placeholder="Number">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card supportcard2">
        <img src="" alt="">
        <div class="card-body">
          <h5 class="card-title pb-4">Social profiles</h5>
          <div class="form-row pb-4">
            <div class="col">
              <label for="">Facebook URL</label>
              <input type="text" class="form-control" placeholder="Facebook UR">
            </div>
            <div class="col">
              <label for="">Twitter URL</label>
              <input type="text" class="form-control" placeholder="Twitter URL">
            </div>
          </div>
          <div class="form-row pb-4">
            <div class="col">
              <label for="">Instagram URL</label>
              <input type="text" class="form-control" placeholder="Instagram URL">
            </div>
            <div class="col">
              <label for="">Linkedin URL</label>
              <input type="text" class="form-control" placeholder="Linkedin URL">
            </div>
          </div>
          <div class="form-row pb-4">
            <div class="col">
              <label for="">Youtube URL</label>
              <input type="text" class="form-control" placeholder="Youtube URL">
            </div>
            <div class="col">
              <label for="">
                Pinterest URL
              </label>
              <input type="text" class="form-control" placeholder="Pinterest URL">
            </div>
          </div>
          <div class="form-row pb-3">
            <div class="col-12 text-center">
              <button type="submit" class="btn supportbtn">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</div>
