<div class="d-flex m-4 fixed-container">
  <div class="account-navigation-card" id="navbar-example2">
    <div class="account-navigation-item">
      <p>
        <i class="fa fa-shopping-bag ps-2 pe-2" aria-hidden="true"></i>
        Quick Navigation
      </p>

    </div>

    <div class="account-navigation-item">
      <a href="#pi">
        <p class="account-navigation-item-label"><i class="fa fa-shopping-bag ps-2 pe-2" aria-hidden="true"></i>
          Product Information</p>
      </a>
    </div>
    <div class="account-navigation-item">
      <a href="#pm" >
        <p class="account-navigation-item-label"><i class="fa fa-bell ps-2 pe-2"></i>
          Product Media</p>
      </a>
    </div>
    <div class="account-navigation-item">
      <a href="#i" >
        <p class="account-navigation-item-label"><i class="fa fa-fax ps-2 pe-2"></i>Inventory</p>
      </a>
    </div>
    <div class="account-navigation-item">
      <a href="#s" >
        <p class="account-navigation-item-label"><i class="fa fa-fax ps-2 pe-2"></i>Sizes</p>
      </a>
    </div>


    <div class="account-navigation-item">
      <a href="#c" >
        <p class="account-navigation-item-label"><i class="fa fa-fax ps-2 pe-2"></i>Colors</p>
      </a>
    </div>
    <!-- <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" href="">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="">Link</a>
    </li>
  </ul> -->
  </div>
  <div class="fill-available"  data-spy="scroll" data-target="#navbar-example2" data-offset="0">
    <div class="p-2 mx-4">
      <h3>{{getSubMenuTitle()}}</h3>
    </div>
    <div class="m-2 p-2">
      <!-- product information-->
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card Deliverycard1">
              <div class="card-body">
                <h5 class="card-title Deliverycard1title pb-4" id="pi">Product Information</h5>
                <form action="">
                  <div class="form-row mb-md-3 mb-2">
                    <div class="form-group col-12">
                      <label for="inputEmail4">Product Name</label>
                      <input type="text" class="form-control" id="Warehousename" placeholder="Enter Product name.">
                    </div>
                  </div>
                  <div class="form-row mb-md-3 mb-2">
                    <div class="form-group col-12">
                      <label for="inputEmail4">Product Category</label>
                      <input type="text" class="form-control" id="Warehousename" placeholder="Enter Product category.">
                    </div>
                  </div>
                  <div class="form-row mb-md-3 mb-2">
                    <div class="form-group col-md-6 mb-md-0 mb-2">
                      <label for="inputEmail4">Price</label>
                      <input type="text" class="form-control" id="personname" placeholder="Enter Price.">
                    </div>
                    <div class="form-group col-md-6">
                      <label for="inputPassword4">Discounted Price</label>
                      <input type="tel" class="form-control" id="mobilenumber" placeholder="Enter Discounted Price.">
                    </div>
                  </div>
                  <div class="form-row mb-md-3 mb-2">
                    <div class="form-group col-md-6 mb-md-0 mb-2">
                      <label for="inputEmail4">Product Unit</label>
                      <input type="text" class="form-control" id="address" placeholder="Enter Product unit">
                    </div>
                  </div>

                  <div class="form-row mb-md-3 mb-2">
                    <div class="form-group col-12">
                      <label for="inputEmail4">Product Description</label>
                      <input type="text" class="form-control" id="Warehousename"
                        placeholder="Enter Product Description.">
                    </div>
                  </div>
                  <!-- <div class="row mb-md-3 mb-2">
                              <div class="form-group col-md-6 text-md-left text-center mb-md-0 mb-2">
                                  <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="gridCheck">
                                    <label class="form-check-label" for="gridCheck">
                                      I accept all <a href="">Terms and conditions.</a>
                                    </label>
                                  </div>
                                </div>
                              <div class="col-md-6 text-md-right text-center">
                               <button type="submit" value="submit" class="btn btn-primary createorderbtn">Add Product</button>
                              </div>
                            </div> -->
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Product media-->
      <div class="conatiner-fluid mt-5" >
        <div class="row">
          <div class="col-12 mx-3">
            <div class="card" id="product-images">
              <div class="card-body text-center">
                <h4 class="section-text-5 pb-2" id="pm">Product Media (up to 8)</h4>
                <div class="product-images-wrap show-product-image-scrollbar pb-3 product-theme-aspect-ratio ">
                  <div class="file-image-upload product-media-upload px12 py12 product-media-upload-max text-center">
                    <input type="file" accept="image/*" multiple="">
                    <div class="d-flex flex-column text-center">
                      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="none" viewBox="0 0 42 35"
                        class="px4 py8">
                        <g clip-path="url(#clip9)">
                          <path stroke="#D9D9D9" stroke-width="1.2"
                            d="M67.667-38.5h-93.334C-30.82-38.5-35-34.321-35-29.167v93.334c0 5.154 4.179 9.333 9.333 9.333h93.334C72.82 73.5 77 69.321 77 64.167v-93.334c0-5.154-4.179-9.333-9.333-9.333z">
                          </path>
                          <path fill="#4D4D4D"
                            d="M15.909 1.07l-.18.012c-.356.05-.677.249-.879.55l-3.019 4.493H5.727c-2.577 0-4.666 2.075-4.666 4.634v18.537c0 2.56 2.089 4.635 4.666 4.635h30.546c2.577 0 4.666-2.075 4.666-4.635V10.76l-.008-.282c-.147-2.428-2.176-4.352-4.658-4.352h-6.106L27.15 1.632c-.236-.351-.634-.563-1.06-.563H15.91zm.68 2.527h8.82l3.017 4.493c.236.352.633.563 1.059.563h6.788c1.171 0 2.12.943 2.12 2.106v18.537c0 1.164-.949 2.107-2.12 2.107H5.727c-1.171 0-2.121-.943-2.121-2.107V10.76c0-1.163.95-2.106 2.121-2.106h6.788l.18-.013c.356-.05.677-.249.88-.55l3.015-4.493z">
                          </path>
                          <path fill="#4D4D4D"
                            d="M21 11.18c-4.452 0-8.06 3.584-8.06 8.005 0 4.421 3.608 8.005 8.06 8.005s8.06-3.584 8.06-8.005c0-4.42-3.608-8.004-8.06-8.004zm0 2.528c3.046 0 5.515 2.452 5.515 5.477 0 3.025-2.47 5.477-5.515 5.477-3.046 0-5.515-2.452-5.515-5.477 0-3.024 2.469-5.477 5.515-5.477z">
                          </path>
                        </g>
                        <defs>
                          <clipPath id="clip9">
                            <path fill="#fff" d="M0 0H42V35H0z"></path>
                          </clipPath>
                        </defs>
                      </svg>
                      <p></p>
                      <div class="text-10 text-medium underline cur-p pt18 c-black-3 hover-add-video">or add video</div>
                    </div>
                  </div>
                  <div class="upload-image-wrapper">

                  </div>
                </div>
                <p class="recomsize pb-2">Recommended size (1000px*1248px)</p>
              </div>
            </div>

          </div>
        </div>
      </div>

      <!--Inventory-->
      <div class="container-fluid mt-3" >
        <div class="row">
          <div class="col-12">
            <div class="product-images-section card" id="product-images">
              <div id="accordion">
                <div class="pb-2 row" id="headingOne">
                  <div class="col-11 accords" data-toggle="collapse" data-target="#collapseOne">
                    <h4 class="section-text-5" id="i">Add Inventory</h4>
                  </div>
                  <div class="col-1 accords" data-toggle="collapse" data-target="#collapseOne">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </div>
                  <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">
                      <div class="form-row">
                        <div class="col-6">
                          <label for="">Total Available Items</label>
                          <input type="number" class="form-control" id="Qunatity" placeholder="0" min="0" max="100">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!--Sizes-->

      <div class="conatiner-fluid mt-3 " >
        <div class="row">
          <div class="col-12 mx-3">
            <div class="product-images-section card" id="product-images">
              <div id="accordion">

                <div class="pb-2 row" id="headingOne">
                  <div class="col-11 accords" data-toggle="collapse" data-target="#collapseTwo">
                    <h4 class="section-text-5" id="s">Add Variants</h4>
                  </div>
                  <div class="col-1 accords" data-toggle="collapse" data-target="#collapseTwo">
                    <i class="fa fa-caret-down" aria-hidden="true"></i>
                  </div>

                  <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">

                      <form action="">
                        <div class="form-row mb-md-3 mb-2">

                          <div class="form-group col-4">
                            <label for="inputEmail4">Size </label>
                            <input type="text" class="form-control" id="Warehousename" placeholder="Enter Size.">
                          </div>
                          <div class="form-group col-4">
                            <label for="inputEmail4">Price</label>
                            <input type="text" class="form-control" id="Warehousename" placeholder="Enter Price">
                          </div>
                          <div class="form-group col-4">
                            <label for="inputEmail4">Discounted Price</label>
                            <input type="text" class="form-control" id="Warehousename" placeholder="Enter Value">
                          </div>
                        </div>

                        <div class="col-12  text-center">
                          <button type="submit" value="submit" class="btn btn-primary createorderbtn">Add another
                            size</button>
                        </div>

                      </form>


                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!--Colors-->
      <div class="conatiner-fluid mt-3 " >
        <div class="row">
          <div class="col-12 mx-3">
            <div class="product-images-section card" id="product-images">
              <div id="accordion">
                <div class="pb-2 row" id="headingOne">
                  <div class="col-11 accords" data-toggle="collapse" data-target="#collapseThree">
                    <h4 class="section-text-5" id="c">Add Color</h4>
                  </div>
                  <div class="col-1 accords" data-toggle="collapse" data-target="#collapseThree"><i
                      class="fa fa-caret-down" aria-hidden="true"></i></div>


                  <div id="collapseThree" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body">

                      <form action="">
                        <div class="form-row mb-md-3 mb-2 ">

                          <div class="form-group col-6 ">
                            <label for="inputEmail4">Choose color </label>
                            <input type="color" class="form-control" id="color" placeholder="Choose color">
                          </div>
                        </div>

                        <div class="col-12 text-center">
                          <button type="submit" value="submit" class="btn btn-primary createorderbtn">Add another
                            color</button>
                        </div>

                      </form>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="conatiner-fluid mx-3 text-right">
          <button type="submit" value="submit" class="btn btn-primary createorderbtn">Add Product</button>

      </div>

    </div>


  </div>
