<div class="container-fluid" style="width: 100vh;">
  <div class="row">
    <div class="col-12 p-0 mb-3">
      <div class="card domaincard1">
        <img src="" alt="">
        <div class="card-body">
          <h5 class="card-title mb-4">
            Dukaan managed domain
          </h5>
          <div class="row row1">
            <div class="col-5 text-left">Domain name</div>
            <div class="col-2 text-left">Status</div>
            <div class="col-3 text-left">Date added</div>
            <div class="col-2 text-left">Provider</div>
          </div>
          <div class="row py-3">
            <div class="col-5" style="font-size: 14px;">
              <a href="">https://mymidan.io/storename</a>
            </div>
            <div class="col-2">
              <span class="badge badge-success">Success</span>
            </div>
            <div class="col-3" style="font-size: 14px; font-weight: 'Poppin',san-serif;">Nov 2, 2022</div>
            <div class="col-2" style="font-size: 14px; font-weight: 'Poppin',san-serif;">Midan</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 p-0 mb-3">
      <div class="card">
        <img src="" alt="">
        <div class="card-body">
         <div class="row">
          <div class="col-12" style="display: flex; justify-content: center; align-items: center;">
            <div style="flex-grow: 2;">
              <div class="card-title" style="font-size: 16px; color: #1A181E; font-family: 'Poppins',sans-serif;">Find your perfect domain</div>
              <div class="card-text" style="font-size: 14px; color: #4d4d4d; font-family: 'Poppins',sans-serif;">Search for the domain name best suited for your brand.</div>
            </div>
            <div style="flex-grow: 1;">
              <button type="button" class="btn" style="    padding: 8px 16px;
              font-size: 14px;
              line-height: 20px;
              font-weight: 500;
              background-color: #146eb4;
              color: white;">Set up</button>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
    <div class="col-12 p-0">
      <div class="card">
        <img src="" alt="">
        <div class="card-body">
         <div class="row">
          <div class="col-12" style="display: flex; justify-content: center; align-items: center;">
            <div style="flex-grow: 2;">
              <div class="card-title" style="font-size: 16px; color: #1A181E; font-family: 'Poppins',sans-serif;">Already have a domain?</div>
              <div class="card-text" style="font-size: 14px; color: #4d4d4d; font-family: 'Poppins',sans-serif;">You can connect your existing domain to Dukaan in a few minutes.</div>
            </div>
            <div style="flex-grow: 1;">
              <button type="button" class="btn" style="    padding: 8px 16px;
              font-size: 14px;
              line-height: 20px;
              font-weight: 500;
              background-color: #146eb4;
              color: white;">Connect</button>
            </div>
          </div>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
