<div class="conatiner-fluid" style="width: 100vh;">
  <div class="row">
    <div class="col-12">
      <div class="card policiycard1">
        <div class="card-header policiycard1header">
          <ul class="nav mt-2 nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item mr-3">
              <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Privacy Policy</a>
            </li>
            <li class="nav-item mr-3">
              <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Refund Policy</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Terms & Condition</a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
              <div class="card">
                <div class="card-body">
                  <p class="card-text" style="font-size: 16px; font-family: 'Poppins',sans-serif;">
                    Last updated: 01 November 2022. <br> This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.
                    We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of information in accordance with this Privacy Policy.
                  </p>
                </div>
                <div class="card-footer text-center">
                  <a href="#" class="btn addstorepgbtn">Add as store page</a>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
              <div class="card">
                <div class="card-body">
                  <p class="card-text" style="font-size: 16px; font-family: 'Poppins',sans-serif;">
                    Last updated: 01 November 2022. <br> This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.
                    We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of information in accordance with this Privacy Policy.
                  </p>
                </div>
                <div class="card-footer text-center">
                  <a href="#" class="btn addstorepgbtn">Add as store page</a>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
              <div class="card">
                <div class="card-body">
                  <p class="card-text" style="font-size: 16px; font-family: 'Poppins',sans-serif;">
                    Last updated: 01 November 2022. <br> This Privacy Policy describes Our policies and procedures on the collection, use and disclosure of Your information when You use the Service and tells You about Your privacy rights and how the law protects You.
                    We use Your Personal data to provide and improve the Service. By using the Service, You agree to the collection and use of information in accordance with this Privacy Policy.
                  </p>
                </div>
                <div class="card-footer text-center">
                  <a href="#" class="btn addstorepgbtn">Add as store page</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
