

<div class="product-images-section card" id="product-images">
    <div id="accordion">
  <div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#collapseOne" id="headingOne">
            <h4 class="section-text-5 mb24" data-toggle="collapse" data-target="#collapseOne">Add Sizes</h4>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
            
        <form action="">
            <div class="form-row mb-md-3 mb-2">        

                <div class="form-group col-4">
                  <label for="inputEmail4">Size </label>
                  <input type="text" class="form-control" id="Warehousename" placeholder="Enter Size.">
                </div>
                <div class="form-group col-4">
                    <label for="inputEmail4">Price</label>
                    <input type="text" class="form-control" id="Warehousename" placeholder="Enter Price">
                  </div>
                  <div class="form-group col-4">
                    <label for="inputEmail4">Discounted Price</label>
                    <input type="text" class="form-control" id="Warehousename" placeholder="Enter Value">
                  </div>
                </div>
                
                <div class="col-md-6 text-md-right text-center">
                    <button type="submit" value="submit" class="btn btn-primary createorderbtn">Add another size</button>
                   </div>
                   
                </form>
                 

          </div>
    </div>
  </div>
    </div>
    </div>