<div class="container-fluid">
  <div class="row mx-2 mt-3 mb-4">
      <div class="col-12 text-xl-right text-center">
          <div class="dropdown allorderdropdown">
              <button class="btn btn-primary  allorderbtn" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                choose Day
              </button>
              <div class="dropdown-menu mt-xl-3 mt-lg-3 dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Lifetime</a>
                <a class="dropdown-item" href="#">Today</a>
                <a class="dropdown-item" href="#">Yesterday</a>
                <a class="dropdown-item" href="#">This week</a>
                <a class="dropdown-item" href="#">Last Week</a>
                <a class="dropdown-item" href="#">This Month</a>
                <a class="dropdown-item" href="#">Last Month</a>
                <a class="dropdown-item" href="#">Custom Range</a>
              </div>
            </div>
      </div>
  </div>
  <div class="row mx-2 mt-3 mb-5">
      <div class="col-xl-6 col-lg-6 col-12 mb-lg-0 mb-3">
          <div class="card">
              <div class="card-body">
                  <div class="analytics__overview-card-title text-2 pb-2">AVERAGE STORE VIEWS PER DAY</div>
                  <span class="analytics__overview-card-stat section-text-12">0</span>
              </div>
          </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-12 mb-lg-0 mb-3">
          <div class="card">
              <div class="card-body">
                  <div class="analytics__overview-card-title text-2 pb-2">RETURNING VISITORS</div>
                  <span class="analytics__overview-card-stat section-text-12">0</span>
              </div>
          </div>
      </div>

  </div>
  <div class="row mx-2 mt-3 mb-5">
      <div class="col-xl-6 col-lg-6 col-12 mb-lg-0 mb-3">
          <div class="card">
            <div class="card-header">
              <h1 style="font-size: 25px; color: grey; font-weight: normal;">STORE VIEWS</h1>
          <h6 style="font-size: 30px;" class="pl-3">0</h6>
            </div>
            <div class="card-body">
              <canvas id="myChart2" width="500" height="300"></canvas>
            </div>
          </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-12">
          <div class="card">
              <div class="card-header">
                  <h1 style="font-size: 25px; color: grey; font-weight: normal;">VIEWS BY DEVICE TYPE</h1>
                  <h6 style="font-size: 30px;" class="pl-3">0</h6>
              </div>
              <div class="card-body">
                  <canvas id="myChart3" width="500" height="300"></canvas>
              </div>
          </div>
      </div>
  </div>
</div>
