<nav id="sidebar" class="">
  <div class="sidebar-header">
<div class="text-center">
    <img src="./../../../../../assets/img/testimonials/testimonials-4.jpg" alt="" class="rounded-circle complogo" height="45px"
      width="45px">
    </div>
    <div class="text-center">
    <span class="comname">{{userName}}</span>
  </div>
  </div>
  <div style="height: 80vh; overflow-y: scroll; scrollbar-color: blue;">
    <ul class="list-unstyled components">

      <li>
        <a href="#">
          <i class="fa fa-home menuItem" aria-hidden="true"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="#orders" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fa fa-address-book menuItem" aria-hidden="true"></i>
          <span>Orders</span>
        </a>
        <ul class="collapse list-unstyled" id="orders">
          <li>
            <a href="#">
              <span>All orders</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Abondoned carts</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-truck menuItem" aria-hidden="true"></i>
          <span>Delivery</span>
        </a>
      </li>
      <li>
        <a href="#products" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fa fa-shopping-cart menuItem" aria-hidden="true"></i>
          <span>Products</span>
        </a>
        <ul class="collapse list-unstyled" id="products">
          <li>
            <a href="#">
              <span>All products</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Categories</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span>Inventory</span>
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-volume-up menuItem" aria-hidden="true"></i>
          <span>Marketing</span>
        </a>
      </li>
      <li>
        <a href="#analytics" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fa fa-bar-chart menuItem" aria-hidden="true"></i>
          <span>Analytics</span>
        </a>
        <ul class="collapse list-unstyled" id="analytics">
          <li>
            <a href="#">
              <span>Sales</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Traffic</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span>Products</span>
            </a>
          </li>
        </ul>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-credit-card menuItem" aria-hidden="true"></i>
          <span>Payments</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-mouse-pointer menuItem" aria-hidden="true"></i>
          <span>Tools</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="fa fa-percent menuItem" aria-hidden="true"></i>
          <span>Discounts</span>
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-users menuItem" aria-hidden="true"></i>
          <span>Customers</span>
        </a>
      </li>
      <li>
        <a href="#appearances" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fa fa-paint-brush menuItem" aria-hidden="true"></i>
          <span>Appearances</span>
        </a>
        <ul class="collapse list-unstyled" id="appearances">
          <li>
            <a href="#">
              <span>Themes</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Pages</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span>Menus</span>
            </a>
          </li>

          <li>
            <a href="#">
              <span>Blog</span>
            </a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#plugins" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
          <i class="fa fa-plug menuItem" aria-hidden="true"></i>
          <span>Plugins</span>
        </a>
        <ul class="collapse list-unstyled" id="plugins">
          <li>
            <a href="#">
              <span>All plugins</span>
            </a>
          </li>
          <li>
            <a href="#">
              <span>Installed</span>
            </a>
          </li>

        </ul>
      </li>
    </ul>
  </div>
  <!-- <ul class="list-unstyled CTAs">
      <li>
          <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
      </li>
      <li>
          <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
      </li>
  </ul> -->
</nav>
