<div class="container-fluid" style="width: 100vh;">
  <div class="row">
    <div class="col-12 p-0">
      <div class="card storetimecard">
        <img src="" alt="">
        <div class="card-body">
          <h5 class="card-title">Hours</h5>
          <p class="card-text">Your store will be automatically switched online/offline based on the hours you choose.</p>
          <div class="row">
            <div class="col-12 bodycol1 mb-3">
              <div class="">Sunday</div>
              <div class="pt-2">
                <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              </div>
              <div>open</div>
              <div>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   hours
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">24 hours</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 bodycol1 mb-3">
              <div class="">Monday</div>
              <div class="pt-2">
                <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              </div>
              <div>open</div>
              <div>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   hours
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">24 hours</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 bodycol1 mb-3">
              <div class="">Tuesday</div>
              <div class="pt-2">
                <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              </div>
              <div>open</div>
              <div>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   hours
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">24 hours</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 bodycol1 mb-3">
              <div class="">Wednesday</div>
              <div class="pt-2">
                <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              </div>
              <div>open</div>
              <div>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   hours
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">24 hours</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 bodycol1 mb-3">
              <div class="">Thursday</div>
              <div class="pt-2">
                <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              </div>
              <div>open</div>
              <div>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   hours
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">24 hours</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 bodycol1 mb-3">
              <div class="">Friday</div>
              <div class="pt-2">
                <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              </div>
              <div>open</div>
              <div>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   hours
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">24 hours</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 bodycol1 mb-3">
              <div class="">Saturday</div>
              <div class="pt-2">
                <label class="switch">
                <input type="checkbox" checked>
                <span class="slider round"></span>
              </label>
              </div>
              <div>open</div>
              <div>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   hours
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">24 hours</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
