<div class="container-fluid">
  <div class="row mx-2 my-3">
      <div class="col-xl-3 col-lg-3 col-12">
          <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text searchcouponlabel" id="searchcouponlabel"><i class="fa fa-search"></i></span>
              </div>
              <input type="text" class="form-control searchcoupontextbox" id="searchcoupontextbox" placeholder="Search coupons" aria-label="Username" aria-describedby="basic-addon1">
            </div>
      </div>
      <div class="col-xl-9 col-lg-9 col-12 text-xl-right text-lg-right text-center">
          <button type="button" class="btn createcoupon">Create a coupon</button>
      </div>
  </div>
  <div class="row mx-2 my-3">

          <div class="col-xl-12 col-lg-12 col-md-12 col-12 py-xl-0 py-lg-0 py-3">
              <div class="btn-group d-flex flex-xl-row flex-lg-row flex-md-column flex-sm-column flex-column" role="group" aria-label="Basic example">
                  <button type="button" class="btn btn-outline-primary btnprimary rounded">All</button>
                  <button type="button" class="btn btn-outline-primary btnprimary rounded ml-xl-4 ml-lg-4 ml-0 mt-xl-0 mt-lg-0 mt-3">Percent discount</button>
                  <button type="button" class="btn btn-outline-primary btnprimary rounded ml-xl-4 ml-lg-4 ml-0 mt-xl-0 mt-lg-0 mt-3">Flat discount</button>
                  <button type="button" class="btn btn-outline-primary btnprimary rounded ml-xl-4 ml-lg-4 ml-0 mt-xl-0 mt-lg-0 mt-3">Buy X get Y</button>
                  <button type="button" class="btn btn-outline-primary btnprimary rounded ml-xl-4 ml-lg-4 ml-0 mt-xl-0 mt-lg-0 mt-3">Free shipping</button>
              </div>
          </div>

  </div>
  <div class="row mx-2 my-5">
      <div class="col-xl-4 col-lg-4 col-12">
          <div class="card">
            <div class="card-header" style="background-color: white;">
              <div class="row">
                  <div class="col-8 pt-1">
                      <h6 style="font-size: 22px; font-weight: bold;">EWRR444</h6>
                  </div>
                  <div class="col-4 text-right">
                      <div>
                          <label class="switch">
                              <input type="checkbox" checked>
                              <span class="slider round"></span>
                          </label>
                        </div>
                  </div>
              </div>
            </div>
            <div class="card-body">
             <div class="row">
              <div class="col-12">
                  <p style="font-size: 14px; font-weight: normal; color: grey;">sar 23 off on all orders above sar 222.</p>
              </div>
              <div class="col-6">
                  <p style="font-weight: 500; font-size: 14px;color: lightgrey; margin-bottom: 0%;">TIMES USED</p>
                  <h6 style="font-size: 20px; margin-top: 0%; padding-top: 10px;">0</h6>
              </div>
              <div class="col-6">
                  <p style="font-weight: 500; font-size: 14px;color: lightgrey; margin-bottom: 0%;">TOTAL SALES GENERATED</p>
                  <h6 style="font-size: 20px; margin-top: 0%; padding-top: 10px;">Sar 0</h6>
              </div>
             </div>
            </div>
            <div class="card-footer text-center" style="background-color: white;cursor: pointer;">
              <i class="fa fa-share pr-3"></i> <span style="text-transform: capitalize; font-weight: 300; font-size: 16px;">share coupon</span>
            </div>
          </div>
      </div>
  </div>
</div>
